---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-gray-100">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<!-- <div class="custom-cursor"></div> -->
	</body>
</html>

<style>
	* {
		font-family: 'Onest Variable', sans-serif;
	}
	/* Cursor */
	/* body {
		cursor: none;
	}
	a.tcp-btn:-webkit-any-link {
		cursor: default !important;
	}
	.custom-cursor {
		background-image: url('https://www.relume.io/__assets/6177739448baa66404ce1d9c/65b1a12e3211534c63d294b5_Guest%20Green%20Cursor.png');
		background-size: contain;
		background-repeat: no-repeat;
		width: 100px;
		height: 100px;
		position: absolute;
		pointer-events: none;
		transition: transform 0.1s ease-in-out;
		z-index: 9999;
	} */
</style>

<script>
	/* Custom cursor */
	// document.addEventListener('mousemove', (e) => {
	// 	const cursor = document.querySelector('.custom-cursor') as HTMLElement;
		// if (cursor) {
		// 	cursor.style.top = `${e.clientY}px`;
		// 	cursor.style.left = `${e.clientX}px`;
		// }

		// const target = e.target as HTMLElement;
		
		// if (cursor && target) {
		// 	if (target.classList.contains('custom-cursor-target')) {
		// 		console.log(target)
		// 		cursor.style.display = 'block';
		// 		cursor.style.top = `${e.clientY}px`;
		// 		cursor.style.left = `${e.clientX}px`;
		// 	} else {
		// 		cursor.style.display = 'none';
		// 	}
		// }
	// });
</script>